/* *{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(#D8C7FF, #1990FF);
  font-family: 'poppins'
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(#D8C7FF, #1990FF);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
